/* @import url(/style/reset.css);
@import url(/style/base.css);
@import url(/style/theme.css);

body {
  width: 20%;
  margin: 0 auto;
}

h1 {
  margin: 50px auto;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  box-shadow: 1px 2px 5px 3px lightgray;
  border-radius: 0.25rem;

  figure {
    margin: 0;
    order: -1;

    img {
      max-width: 100%;
      border-radius: 0.25rem 0.25rem 0 0;
    }
  }

  p {
    color: #4a5567;
    font-weight: 200;
    margin: 0;
    padding: 0 1rem;
  }

  h2 {
    margin: 0;
    padding: 0 1rem;
    color: #4a5567;
    font-weight: 700;
  }
}

.tag-box {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  padding: 1rem 1rem;

  li {
    background-color: #edf2f6;
    border-radius: 1rem;

    em {
      display: block;
      color: #4a5567;
      font-weight: 700;
      font-size: 12px;
      font-style: normal;
      padding: 0.5rem 0.65rem;
    }
  }
} */

@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

.card {
  box-shadow: 0 0 0.25rem 1px #aaa;
  border-radius: 0.25rem;
  /* width: 300px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "title"
    "content"
    "tags";
  gap: 20px;
  align-items: start;
  color: #4a5569;

  h2,
  p,
  ul {
    padding: 0 1rem;
  }

  h2 {
    grid-area: title;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  figure {
    grid-area: image;
    order: -1;
    margin: 1rem 1rem 1rem 1rem;

    img {
      border-radius: 0.25rem 0.25rem 0 0;
      width: 100%;
    }
  }

  p {
    grid-area: content;
    margin: 0;
    line-height: 1.5;
  }

  ul {
    grid-area: tags;
    margin: 0.5rem 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    font-size: 0.625rem;

    li {
      padding: 0.25rem 0.5rem;
      background-color: #edf2f8;
      border-radius: 2rem;
      flex: 0 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image content"
      "image tags";
  }
}
