@import url(/style/reset.css);
@import url(/style/base.css);
@import url(/style/theme.css);
@import url(/components/css/card.css);

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.container {
  display: grid;
  gap: 1.25rem;
  padding: 30px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* auto-fit을 이용해서 화면 비율에 맞게 컬럼을 정렬함. 반응형 스터디룸 프로젝트에도 이거 사용하는게 좋을듯 */
